



  <!-- <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-center text-5xl font-bold">ยินดีต้อนรับเข้าสู่ระบบของเรา</h1>
        <p class="py-6 text-center">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    <div class="text-center">  </div>  </div>
     
  
  
   
  </div> -->
 <!-- <div class="relative top-0 navbar bg-base-100 justify-center">
    <a class="btn  btn-ghost normal-case text-3xl">FoodOrder</a>
  </div> -->
 
<body class="flex">
  
  <div class=" w-3/6 h-full bg-orange-400  ">

  </div> 
  <div class=" w-full h-full bg-base-100 shadow-slate-500 shadow-md">
    <div class="relative  top-48  "><h1 class="text-5xl flex justify-center">Sign in</h1>
    <div class="flex justify-center mt-5 " ><form [formGroup]="loginform" (ngSubmit)="Onsubmit()">
      <label >ชื่อผู้ใช้</label><br>
    <input class="p-2 border-2 border-orange-400 rounded-md w-full h-10 max-w-xs mt-1" type="text" name="username" id="username" placeholder="ชื่อผู้ใช้" formControlName="username"><br>
  <label >รหัสผ่าน</label><br>
  <input class="p-2 border-2 border-orange-400 rounded-md  w-full h-10 max-w-xs mt-1" type="password" name="password" id="password" placeholder="รหัสผ่าน" formControlName="password"><br>
  <div class="flex justify-center"><button type="submit" class="   text-center ease-out duration-300 btn btn-success mt-2 text-white font-thin">sign in</button></div>
</form></div></div>
      </div>

          <!-- <button class="btn btn-success text-blue-100" (click)="openDialog()">Get Start</button>  -->
