<div class="mt-0 bg-slate-500 w-full h-56">
    <h1 class="flex justify-center pt-6 text-white text-3xl">CutStock</h1>

    <div class="flex  justify-center mt-5 ml-9">
        <h1 class="text-white mr-1">รหัส :</h1>
        <input type="text" name="" id="" placeholder="รหัสสินค้า" class="mr-5 cursor-not-allowed"  disabled>
        
        <h1 class="text-white mr-1">ชื่อสินค้า :</h1>
<input type="text" name="" id="" placeholder="ชื่อสินค้า" class="mr-5">
<h1 class="text-white mr-1">วันที่ผลิต :</h1>
<input type="text" name="" id="" placeholder="ชื่อสินค้า" class="mr-5">
<h1 class="text-white mr-1">วันหมดอายุ :</h1>
<input type="text" name="" id="" placeholder="ชื่อสินค้า" class="mr-5">

    </div>
    <div class="flex   mt-2 ml-64">
        <h1 class="text-white mr-1">ผู้ผลิต :</h1>
        <input type="text" name="" id="" placeholder="ผู้ผลิต" class="mr-5 cursor-not-allowed"  disabled>
        

<h1 class="text-white mr-1">จำนวนในคลัง :</h1>
<input type="text" name="" id="" placeholder="จำนวนในคลัง" class="mr-5">


    </div> 
    <div class="flex  justify-end mr-3">
        <h1 class="flex items-center text-white mr-1 ">จำนวน :</h1>
<input type="number" name="" id="" placeholder="จำนวน" class="mr-5">
<button type="button" class="btn btn-success text-white btn-square font-thin mr-1 w-36">ยืนยัน</button>
<button type="reset" class="btn btn-error text-white btn-square font-thin">ยกเลิก</button>
    </div>
</div>