<body class="flex justify-center ">
    <div class=" fixed left-20 top-20  w-full"*ngIf="orders">
        <h1 class="text-3xl mb-5" *ngIf="tabledata">ชำระค่าบริการ📃</h1>
        <form [formGroup]="formpayment" (ngSubmit)="Onsubmitpayment()" *ngIf="tabledata.tableStatus == 2">
            <div class="card w-10/12 h-96 md::w-96  bg-white m-1  border-gray-600 border-4">

                <h1 class="relative top-2 left-3 text-4xl text-black font-semibold">Checkout</h1>
                <div class="inline-block w-full h-full  ">
                    <h2 class="relative top-6 left-6 text-2xl">รายระเอียด</h2>
                    <div class=" flex mt-10 ml-9">

                        <h2 class="text-xl">หมายเลขโต๊ะ :{{orders.tableName}}</h2>
                        <div class="absolute  right-1/3 ">
                            <h2 class="mt-0 text-xl">วิธีการชำระเงิน</h2>
                            <select class="select select-success w-full max-w-sm text-xl font-thin"
                                formControlName="paymentType">
                                <option value="Qr-code">
                                    <h3>Qr-code</h3>
                                </option>
                                <option value="ชำเงินที่เคาน์เตอร์">
                                    <h3>ชำเงินที่เคาน์เตอร์</h3>
                                </option>
                            </select>
                            <div class="mt-5 ">
                                <label class="text-xl" for="">อัพโหลดรูปภาพสลิป</label><br>
                                <input type="file"
                                    class="file-input file-input-bordered file-input-accent w-full max-w-xs "
                                    (change)="Selectfile($event)" />
                            </div>
                        </div>
                        <div *ngIf="formpayment.controls.paymentType.value == 'Qr-code'"
                            class="absolute right-32 top-16 w-52 h-52  border-blue-300 border-4 rounded-md"><img
                                [src]="QRCodepayment" alt="image"></div>

                    </div>
                    <div class="flex mt-6 ml-9 text-xl">
                        <h2>โปรโมชั่น :{{orders.guestPromotion}}</h2>
                    </div>
                    <div class="flex mt-6 ml-9 text-xl">
                        <h2>ลูกค้า :{{orders.guestQty}}</h2>
                    </div>
                    <div class="absolute right-32 bottom-16">
                        <h2 class="text-2xl">จำนวน :{{total }} บาท</h2>
                    </div>
                </div>
                <div class="flex justify-center m-2 "><button
                        class="btn w-40 bg-green-600 text-2xl font-thin text-white shadow-2xl mr-2 "
                        type="submit">ยืนยัน</button><button
                        class="btn w-36 btn-sm  bg-red-800 text-2xl font-thin text-white-100 shadow-2xl mt-3"
                        routerLink="/table">ยกเลิก</button></div>
            </div>
        </form>
        <!-- <button class="btn btn-secondary " (click)="UpdateTableStatus(3)"> sss</button> -->
    </div>



    <div class="absolute top-52 text-center" *ngIf="tabledata.tableStatus == 3">
        <div class=" text-4xl mb-3 ml-2">
            <h2>รอดำเนินการสักครู่...</h2>
        </div>
        <div role="status">
            <svg aria-hidden="true"
                class="inline w-40 h-40 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-orange-400"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class=" fixed left-20 top-20  w-full" *ngIf="tabledata.tableStatus== 4">
        <h1 class="text-3xl mb-5">ชำระค่าบริการ📃</h1>
        <form [formGroup]="formreview" (ngSubmit)="Onsubmit()">
            <div class="card w-10/12 h-96 md::w-96  bg-white m-1 border-gray-600 border-4">

                <h1 class="relative top-2 left-3 text-4xl text-black font-semibold">Review</h1>
                <div class="inline-block w-full h-full  ">
                    <h2 class="relative flex top-6 left-6 text-2xl">แสดงความคิดเห็น</h2>
                    <div class="flex mt-10 ml-9 ">
                        <textarea class="textarea textarea-bordered h-48" placeholder="แสดงความคิดเห็น"
                            formControlName="reviewDetail"></textarea>
                        <div class="relative left-52 right-0">
                            <div class="flex mb-6 ml-2">
                                <h2 class="text-2xl">อาหาร :</h2>
                                <div class="rating rating-lg">
                                    <input type="radio" value=1 formControlName="reviewFood" name="reviewFood"
                                        class="mask mask-star-2 bg-red-400" checked />
                                    <input type="radio" value=2 name="reviewFood" class="mask mask-star-2 bg-orange-400"
                                        formControlName="reviewFood" />
                                    <input type="radio" value=3 name="reviewFood" class="mask mask-star-2 bg-yellow-400"
                                        formControlName="reviewFood" />
                                    <input type="radio" value=4 name="reviewFood" class="mask mask-star-2 bg-green-400"
                                        formControlName="reviewFood" />
                                    <input type="radio" value=5 name="reviewFood" class="mask mask-star-2 bg-green-800"
                                        formControlName="reviewFood" />
                                </div>
                            </div>
                            <div class="flex  ml-2">
                                <h2 class="text-2xl">การบริการ :</h2>
                                <div class="rating">
                                    <input type="radio" value=1 name="reviewService" class="mask mask-star-2 bg-red-400"
                                        formControlName="reviewService" checked />
                                    <input type="radio" value=2 name="reviewService"
                                        class="mask mask-star-2 bg-orange-400" formControlName="reviewService" />
                                    <input type="radio" value=3 name="reviewService"
                                        class="mask mask-star-2 bg-yellow-400" formControlName="reviewService" />
                                    <input type="radio" value=4 name="reviewService"
                                        class="mask mask-star-2 bg-green-400" formControlName="reviewService" />
                                    <input type="radio" value=5 name="reviewService"
                                        class="mask mask-star-2 bg-green-800" formControlName="reviewService" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex justify-center m-2 "><button
                        class="btn w-40 bg-green-600 text-2xl font-thin text-white shadow-2xl mr-2 "
                        type="submit">ยืนยัน</button><button
                        class="btn w-36 btn-sm  bg-red-800 text-2xl font-thin text-white-100 shadow-2xl mt-3">ยกเลิก</button>
                </div>
            </div>
        </form>
    </div>
</body>