<div class="navbar bg-white sticky top-0">
   
    <div class="navbar-start " *ngIf="orders">
      <a routerLink="#" class="btn btn-ghost normal-case text-xl">Foodorder🥧</a>
      <div class="flex  ml-3 text-2xl" >
        <h2 class="card-title">โต๊ะที่:</h2>
      {{orders.tableName}}
      </div>
    </div>
    <input class="input input-bordered input-warning h-10 max-w-xs" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="🔍 ค้นหาเมนู">
  
    <div class="navbar-end">
      <!-- <app-searchfood></app-searchfood> -->
      <a (click)=" showlistorder()" > 
        <h2 class="btn btn-ghost font-thin ">
          <svg
          class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M18 3.00001V3.00001C19.6569 3.00001 21 4.34315 21 6.00001L21 8.14286C21 8.47698 21 8.64405 20.9234 8.76602C20.8834 8.82962 20.8296 8.8834 20.766 8.92336C20.644 9 20.477 9 20.1429 9L15 9M18 3.00001V3.00001C16.3431 3.00001 15 4.34315 15 6.00001L15 9M18 3.00001L7 3.00001C5.11438 3.00001 4.17157 3.00001 3.58579 3.58579C3 4.17158 3 5.11439 3 7.00001L3 21L6 20L9 21L12 20L15 21L15 9"
                stroke="#222222"></path>
              <path d="M7 7L11 7" stroke="#222222" stroke-linecap="round"></path>
              <path d="M8 11H7" stroke="#222222" stroke-linecap="round"></path>
              <path d="M7 15L10 15" stroke="#222222" stroke-linecap="round"></path>
            </g>
          </svg>รายการที่สั่ง
        </h2>
      </a><a routerLink="../menu">
        <h5 class="btn btn-ghost  font-thin">เมนู</h5>
      </a>
      <a   routerLink="../payment" class="disabled">
        <h5 class="btn btn-ghost  font-thin">ชำระค่าบริการ</h5>
      </a>
      <button class="btn btn-ghost btn-circle" (click)="showcart()" >
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <!-- <span  class="w-3  badge badge-xs badge-secondary indicator-item text-white">
           </span> -->
        </div>
      </button>
    </div>
  </div>

<body class="bg-orange-100  min-h-screen min-w-full">
    <!-- <div class="bg-red-950 w-full  h-44"></div> -->
    <section class="mt-1 h-80 w-full max-w-full bg-orange-400">
        <!-- justify-between items-center ทำให้อยู่ตรงกลางโดยเซ็ต justify ให้ก่อน ค่อยใช้ item center -->
        <div class="flex justify-between items-center">
          <h2 class="ml-5 top-44 left-20 ">ยินดีต้อนรับเข้าสู่ระบบของเรา</h2> <img
            class=" mt-20 mr-28 w-52 h-52  rounded-md shadow-xl"
            src="assets/image/Food/_2dde70b4-3937-4eeb-8532-2398a6f9b79b.jpg" alt="">
        </div>
      </section>
    <div class="w-full max-w-full h-30">
        <h1 class="text-2xl ml-5 mt-3">เมนูที่คุณอาจสนใจ</h1>
        <div class="flex max-w-full overflow-auto ">
            <div class="flex cursor-pointer">
                <div class="card  w-60  shadow-xl  m-5 " *ngFor="let food of listfood | customFilter : searchText">
                  <div (click)=" showdatafood(food.foodId)" class="  bg-base-100 rounded-md " *ngIf="food.foodStatus == 1">
                    <div class="card-body ">
                      <img class="cursor-pointer rounded-md " src="{{food.foodImage}}" alt="food" />
                      <div class="card-title justify-between">
                        <h2 class="">
                          {{food.foodName}}
                        </h2>
                        <h2>{{food.foodQty}}</h2>
                      </div>
          
                      <div class=" card-actions justify-end ">
                        <div class="badge badge-outline">
                          <div class="flex md:text-xs">
                            <h3 class="mr-4 ">หมวดหมู่: </h3>
                            <h3>{{food.foodType}}</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
<!-- <button class="btn btn-accent justify-center " (click)="logOut()">log-Out</button> -->